.container {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.events {
  display: flex;
}

.events > input {
  padding: 0.8em;
  margin: 0.8em;
  font-size: 1rem;
}

.submit {
  flex: 1 1 100px;
}

ul {
  display: inline;
  margin: 0;
  padding: 5px;
}

ul::before {
  content: "{";
  font-size: 2em;
}

ul::after {
  content: "}";
  font-size: 1.5em;
}

ul li {
  display: inline;
}

ul li::after {
  content: ", ";
}

ul li:last-child::after {
  content: "";
}

button {
  display: inline-block;
  border: none;
  padding: 0.8rem 1.5rem;
  margin: 0.8em 0;
  text-decoration: none;
  background: #2e2e2c;
  color: #f2cb13;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  opacity: 0.9;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2e2e2c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(187, 19, 19);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(187, 19, 19);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
